@using Microsoft.AspNetCore.WebUtilities
@inherits ControlBase

@if (Crew != null)
{
    <table class="gridtable">
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Skill</th>
            <th>Species</th>
        </tr>
        @foreach (var crewMember in Crew)
        {
            <tr>
                <td>
                    @crewMember.Title <a target="_blank" href="@QueryHelpers.AddQueryString("/character/view", crewMember.CharacterStub.ToQueryString())">@crewMember.CharacterStub.Name</a>
                </td>
                <td>@crewMember.CrewRole</td>
                <td>@crewMember.SkillName @crewMember.SkillLevel</td>
                <td><a target="_blank" href="@(CharacterBuilderLocator.GetSpeciesUrl(crewMember.CharacterStub.Species))">@crewMember.CharacterStub.Species</a> (@crewMember.CharacterStub.Gender/@crewMember.CharacterStub.MaxAge)</td>
            </tr>
        }
    </table>
}
else
{
    <div>Error - Contact list is missing</div>
}
