@inherits ControlBase<PlanetPickerOptions>
<!-- TODO: This doesn't need to be its own control. Move everything into WorldIndexPage/ -->

<div>
    <EditForm Model="@Model">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <table class="gridtable">
            <tr>
                <th>Milieu</th>
                <td>
                    <InputSelect @bind-Value="Model!.SelectedMilieuCode">
                        @foreach (var item in Model.MilieuList)
                        {
                            if (Model.SelectedMilieu == item)
                            {
                                <option value="@(item.Code)" selected> @(item.Name)</option>
                            }
                            else
                            {
                                <option value="@(item.Code)"> @(item.Name)</option>
                            }
                        }
                    </InputSelect>
                </td>
            </tr>
            <tr>
                <th>Sector</th>
                <td>
                    <InputSelect @bind-Value="Model.SelectedSectorHex">
                        @if (Model.SelectedMilieu == null)
                        {
                            <option value="" selected></option>
                        }
                        else
                        {
                            <option value=""></option>
                        }

                        @foreach (var item in Model.SectorList)
                        {
                            if (Model.SelectedSector == item)
                            {
                                <option value="@(item.Hex)" selected> @(item.Name)</option>
                            }
                            else
                            {
                                <option value="@(item.Hex)"> @(item.Name)</option>
                            }
                        }
                    </InputSelect>
                    <button @onclick="GotoSector" disabled="@SectorNotSelected">Sector Info</button>
                </td>
            </tr>
            <tr>
                <th>Subector</th>
                <td>
                    <InputSelect @bind-Value="Model.SelectedSubsectorIndex">
                        @if (Model.SelectedSubsector == null)
                        {
                            <option value="" selected></option>
                        }
                        else
                        {
                            <option value=""></option>
                        }
                        @foreach (var item in Model.SubsectorList)
                        {
                            if (Model.SelectedSubsector == item)
                            {
                                <option value="@(item.Index)" selected> @(item.Name)</option>
                            }
                            else
                            {
                                <option value="@(item.Index)"> @(item.Name)</option>
                            }
                        }
                    </InputSelect>
                    <button disabled="disabled">Subsector Info</button>
                </td>
            </tr>
            <tr>
                <th>World</th>
                <td>
                    <InputSelect @bind-Value="Model.SelectedWorldHex">
                        @if (Model.SelectedWorld == null)
                        {
                            <option value="" selected></option>
                        }
                        else
                        {
                            <option value=""></option>
                        }
                        @foreach (var item in Model.WorldList)
                        {
                            if (Model.SelectedWorld == item)
                            {
                                <option value="@(item.Hex)" selected> @(item.Name)</option>
                            }
                            else
                            {
                                <option value="@(item.Hex)"> @(item.Name)</option>
                            }
                        }
                    </InputSelect>
                </td>
            </tr>
            <tr>
                <th>Jump to...</th>
                <td>
                    <button @onclick="GotoPlanet" disabled="@WorldNotSelected">Planet Info</button>
                    <button @onclick="GotoTrade" disabled="@WorldNotSelected">Trade</button>
                    <button @onclick="GotoTravel" disabled="@WorldNotSelected">Travel</button>
                    <button @onclick="GotoShopping" disabled>Shopping</button>
                    <button @onclick="GotoAnimals" disabled>Animals</button>
                </td>
            </tr>
        </table>
    </EditForm>
</div>
