@inherits ControlBase

<div>
    <table class="gridtable">
        <tr>
            <th>Planet</th>
            <th>Subsector</th>
            <th>Sector</th>
            <th>Coordinates</th>
        </tr>
        @if (IsCustom)
        {
            <tr>
                <td>@(World.Name)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        else
        {
            @*<tr>
                    <td><a href="@string.Format("https://wiki.travellerrpg.com/{0}_(world)", World.Name)" target="_blank" title="Search Traveller Wiki for this planet.">@World.Name</a></td>
                    <td><a href="@string.Format("https://wiki.travellerrpg.com/{0}_Subsector", World.SubsectorName)" target="_blank" title="Search Traveller Wiki for this subsector.">@World.SubsectorName</a></td>
                    <td><a href="@string.Format("https://wiki.travellerrpg.com/{0}_Sector", World.Sector)" target="_blank" title="Search Traveller Wiki for this sector.">@World.Sector</a></td>
                    <td><a href="@string.Format("http://travellermap.com/?scale=64&sx={0}&sy={1}&hx={2}&hy={3}", World.SectorX, World.SectorY, World.HexX, World.HexY)" target="_blank" title="Show planet in Traveller Map.">@World.SectorX,@World.SectorY Hex @World.Hex</a></td>
                </tr>*@
            <tr>
                <td>
                    @World.Name
                    <br />
                    <a href="@string.Format("https://wiki.travellerrpg.com/{0}_(world)", World.Name)" target="_blank" title="Search Traveller Wiki for this planet.">
                        <span class="oi oi-globe" aria-hidden="true" /> TAS
                    </a>
                </td>
                <td>
                    @World.SubsectorName
                    <br />
                    <a href="@($"/world/{MilieuCode}/{World.SectorX},{World.SectorY}/subsector/{World.SubSectorIndex}/")">
                        <span class="oi oi-list" aria-hidden="true" /> Index
                    </a>
                    <a href="@($"https://wiki.travellerrpg.com/{World.SubsectorName}_Subsector")" target="_blank" title="Search Traveller Wiki for this subsector.">
                        <span class="oi oi-globe" aria-hidden="true" /> TAS
                    </a>
                </td>
                <td>
                    @World.Sector
                    <br />
                    <a href="@($"/world/{MilieuCode}/{World.SectorX},{World.SectorY}")">
                        <span class="oi oi-list" aria-hidden="true" /> Index
                    </a>
                    <a href="@($"https://wiki.travellerrpg.com/{World.Sector}_Sector")" target="_blank" title="Search Traveller Wiki for this sector.">
                        <span class="oi oi-globe" aria-hidden="true" /> TAS
                    </a>
                </td>

                <td>

                    @World.SectorX,@World.SectorY Hex @World.Hex
                    <br />

                    <a href="@string.Format("http://travellermap.com/?scale=64&sx={0}&sy={1}&hx={2}&hy={3}", World.SectorX, World.SectorY, World.HexX, World.HexY)" target="_blank" title="Show planet in Traveller Map.">
                        <span class="oi oi-map" aria-hidden="true" /> Map
                    </a>
                </td>
            </tr>
        }
    </table>
    <table class="gridtable">
        <tr>
            @if (CurrentPage == "info")
            {
                <th><span class="oi oi-globe" aria-hidden="true" /> Info</th>
            }
            else
            {
                <th><a href="@(BaseUrl +  "info" + QueryParameters)"><span class="oi oi-globe" aria-hidden="true" /> Info</a></th>
            }
            @if (CurrentPage == "trade")
            {
                <th><span class="oi oi-box" aria-hidden="true" /> Trade</th>
            }
            else
            {
                <th><a href="@(BaseUrl +  "trade" + QueryParameters)"><span class="oi oi-box" aria-hidden="true" /> Trade</a></th>
            }

            @if (CurrentPage == "travel")
            {
                <th><span class="oi oi-compass" aria-hidden="true" /> Travel</th>
            }
            else
            {
                <th><a href="@(BaseUrl +  "travel" + QueryParameters)"><span class="oi oi-compass" aria-hidden="true" /> Travel</a></th>
            }

            @if (CurrentPage == "store")
            {
                <th><span class="oi oi-cart" aria-hidden="true" /> Store</th>
            }
            else
            {
                <th><a href="@(BaseUrl +  "store" + QueryParameters)"><span class="oi oi-cart" aria-hidden="true" /> Store</a></th>
            }
            @if (CurrentPage == "animals")
            {
                <th><span class="oi oi-bug" aria-hidden="true" /> Animals</th>
            }
            else
            {
                <th><a href="@(BaseUrl +  "animals" + QueryParameters)"><span class="oi oi-bug" aria-hidden="true" /> Animals</a></th>
            }
            @if (CurrentPage == "encounters")
            {
                <th><span class="oi oi-people" aria-hidden="true" /> Encounters</th>
            }
            else
            {
                <th><a href="@(BaseUrl +  "encounters" + QueryParameters)"><span class="oi oi-people" aria-hidden="true" /> Encounters</a></th>
            }
        </tr>
    </table>
</div>
