@inherits ControlBase<PlanetPickerOptions>
<!-- TODO: This doesn't need to be its own control. Move everything into WorldIndexPage/ -->

<div>
    <EditForm Model="@Model">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <table class="gridtable">
            <tr>
                <th>Milieu</th>
                <td>
                    <InputSelect @bind-Value="Model!.SelectedMilieuCode">
                        @foreach (var item in Model.MilieuList)
                        {
                            if (Model.SelectedMilieu == item)
                            {
                                <option value="@(item.Code)" selected> @(item.Name)</option>
                            }
                            else
                            {
                                <option value="@(item.Code)"> @(item.Name)</option>
                            }
                        }
                    </InputSelect>
                </td>
            </tr>
            <tr>
                <th rowspan="2">Sector</th>
                <td>
                    <InputSelect @bind-Value="Model.SelectedSectorHex">
                        @if (Model.SelectedMilieu == null)
                        {
                            <option value="" selected></option>
                        }
                        else
                        {
                            <option value=""></option>
                        }

                        @foreach (var item in Model.SectorList)
                        {
                            if (Model.SelectedSector == item)
                            {
                                <option value="@(item.Hex)" selected> @(item.Name)</option>
                            }
                            else
                            {
                                <option value="@(item.Hex)"> @(item.Name)</option>
                            }
                        }
                    </InputSelect>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@SectorUrl()">
                        <span class="oi oi-list" aria-hidden="true" /> Index
                    </a>
                    <a href="@SectorTasUrl()" target="_blank" title="Search Traveller Wiki for this sector.">
                        <span class="oi oi-globe" aria-hidden="true" /> TAS
                    </a>

                </td>
            </tr>
            <tr>
                <th rowspan="2">Subector</th>
                <td>
                    <InputSelect @bind-Value="Model.SelectedSubsectorIndex">
                        @if (Model.SelectedSubsector == null)
                        {
                            <option value="" selected></option>
                        }
                        else
                        {
                            <option value=""></option>
                        }
                        @foreach (var item in Model.SubsectorList)
                        {
                            if (Model.SelectedSubsector == item)
                            {
                                <option value="@(item.Index)" selected> @(item.Name)</option>
                            }
                            else
                            {
                                <option value="@(item.Index)"> @(item.Name)</option>
                            }
                        }
                    </InputSelect>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@SubsectorUrl()">
                        <span class="oi oi-list" aria-hidden="true" /> Index
                    </a>
                    <a href="@SubsectorTasUrl()" target="_blank" title="Search Traveller Wiki for this subsector.">
                        <span class="oi oi-globe" aria-hidden="true" /> TAS
                    </a>

                </td>
            </tr>
            <tr>
                <th rowspan="2">World</th>
                <td>
                    <InputSelect @bind-Value="Model.SelectedWorldHex">
                        @if (Model.SelectedWorld == null)
                        {
                            <option value="" selected></option>
                        }
                        else
                        {
                            <option value=""></option>
                        }
                        @foreach (var item in Model.WorldList)
                        {
                            if (Model.SelectedWorld == item)
                            {
                                <option value="@(item.Hex)" selected> @(item.Name)</option>
                            }
                            else
                            {
                                <option value="@(item.Hex)"> @(item.Name)</option>
                            }
                        }
                    </InputSelect>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@PlanetUrl("info")"><span class="oi oi-globe" aria-hidden="true" /> Info</a>
                    <a href="@PlanetUrl("trade")"><span class="oi oi-box" aria-hidden="true" /> Trade</a>
                    <a href="@PlanetUrl("travel")"><span class="oi oi-compass" aria-hidden="true" /> Travel</a>
                    <a href="@PlanetUrl("store")"><span class="oi oi-cart" aria-hidden="true" /> Store</a>
                    <a href="@PlanetUrl("animals")"><span class="oi oi-bug" aria-hidden="true" /> Animals</a>
                    <a href="@PlanetUrl("encounters")"><span class="oi oi-puzzle-piece" aria-hidden="true" /> Encounters</a>
                </td>
            </tr>
        </table>
    </EditForm>
</div>
