@inherits PageBase
<div>
    <table class="gridtable">
        <tr>
            @if (CurrentPage == "info")
            {
                <th>Info</th>
            }
            else
            {
                <th><a href="@(BaseUrl +  "info" + QueryParameters)">Info</a></th>
            }
            @if (CurrentPage == "trade")
            {
                <th>Trade</th>
            }
            else
            {
                <th><a href="@(BaseUrl +  "trade" + QueryParameters)">Trade</a></th>
            }
            @if (CurrentPage == "store")
            {
                <th>Store</th>
            }
            else
            {
                <th><a href="@(BaseUrl +  "store" + QueryParameters)">Store</a></th>
            }
            @if (CurrentPage == "animals")
            {
                <th>Animals</th>
            }
            else
            {
                <th><a href="@(BaseUrl +  "animals" + QueryParameters)">Animals</a></th>
            }
            @if (CurrentPage == "encounters")
            {
                <th>Encounters</th>
            }
            else
            {
                <th><a href="@(BaseUrl +  "encounters" + QueryParameters)">Encounters</a></th>
            }
        </tr>
    </table>
</div>
