@model System.Collections.Generic.Dictionary<string, List<Grauenwolf.TravellerTools.Animals.AE.Animal>>
@{
    ViewBag.Title = "Animals";
}

@foreach (var terrain in Model)
{
    <h2> @terrain.Key </h2>


    foreach (var animal in terrain.Value)
    {
        <table class="gridtable">

            <tr>
                <th width="150" style="text-align:Left;" colspan="3">Name</th>
                <th width="150" style="text-align:Left;" colspan="3">Type</th>
                <th width="70" style="text-align:center;">Move</th>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="3">@(animal.AnimalClass) (@animal.Diet / @animal.Behavior)</td>
                <td>@animal.Movement</td>
            </tr>
            <tr>
                <th style="text-align:center;">Roll</th>
                <th style="text-align:center;">Number<br/>Appearing</th>
                <th style="text-align:center;">Initiative<br />DM</th>
                <th style="text-align:center;">Armor</th>
                <th style="text-align:center;">Attacks on</th>
                <th style="text-align:center;">Flees on</th>
                <td colspan="1" rowspan="2"> <!--spacer--></td>
            </tr>
            <tr>

                <td style="text-align:center;">@animal.Roll</td>
                <td style="text-align:center;">@animal.NumberEncountered</td>
                <td style="text-align:center;">@animal.InitiativeDM</td>
                <td style="text-align:center;">@animal.Armor</td>
                <td style="text-align:center;">@animal.Attack </td>
                <td style="text-align:center;">@animal.Flee</td>

            </tr>

            <tr>
                <th width="50" style="text-align:center;">Str</th>
                <th width="50" style="text-align:center;">Dex</th>
                <th width="50" style="text-align:center;">End</th>
                <th width="50" style="text-align:center;">Int</th>
                <th width="50" style="text-align:center;">Ins</th>
                <th width="50" style="text-align:center;">Pack</th>
                <th width="50" style="text-align:center;">Size</th>
            </tr>
            <tr>
                <td>@(animal.Strength) (@animal.StrengthDM)</td>
                <td>@(animal.Dexterity) (@animal.DexterityDM)</td>
                <td>@(animal.Endurance) (@animal.EnduranceDM)</td>
                <td>@(animal.Intelligence) (@animal.IntelligenceDM)</td>
                <td>@(animal.Instinct) (@animal.InstinctDM)</td>
                <td>@(animal.Pack) (@animal.PackDM)</td>
                <td>@animal.WeightKG.ToString("N0") kg</td>
            </tr>

            <tr>
                <th>Skills</th>
                <td colspan="15"> @( string.Join(", ", animal.Skills.Select(s => s.Name + " " + s.Level)))</td>
            </tr>
            <tr>
                <th>Weapons</th>
                <td colspan="15">@( string.Join(", ", animal.Weapons.Select(s => s.Name + " " + s.Damage)))</td>
            </tr>

            @foreach (var item in animal.Features)
            {
                <tr>
                    <td colspan="15"> @( item.Text )</td>
                </tr>
            }
        </table>
        <hr />
    }


}