@model Grauenwolf.TravellerTools.Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <h2>Location</h2>
    <table class="gridtable">
        <tr>
            <th>Sector</th>
            <td>
                @Html.DropDownList("sector", Model.SectorList(), new { onchange = "SectorChanged($('#sector')[0].value, $('#subsector')[0])" })
            </td>
            <th>Subsector</th>
            <td>
                <select id="subsector" onchange="SubsectorChanged($('#sector')[0].value, $('#subsector')[0].value, $('#world')[0])"></select>
            </td>
            <th>World</th>
            <td>
                <select id="world" onchange="WorldChanged($('#sector')[0].value, $('#world')[0].value, $('#showTradeScreen')[0], $('#selectWorldForTrade')[0])"></select>
            </td>
        </tr>
    </table>

    <h2>Character</h2>
    <table class="gridtable">
        <tr>
            <th>Broker Score (INT)</th>
            <td>
                @Html.DropDownList("broker", Model.Scores())
            </td>
            <th>Streetwise Score (INT)</th>
            <td>
                @Html.DropDownList("streetwise", Model.Scores())
            </td>
        </tr>
    </table>
</div>

<div class="row">

    <h2>Trade Calculator</h2>

    <table class="gridtable">
        <tr>
            <td>
                <label> <input type="checkbox" checked="checked" id="mongoose2" /> Mongoose 2</label>
            </td>
            <td>
                <label> <input type="checkbox" id="advancedMode" /> Advanced Mode</label>
            </td>
            <td>
                <label> <input type="checkbox" id="illegalGoods" /> Allow Illegal Goods</label>
            </td>
            <td>
                <label> <input type="checkbox" id="advancedCharacters" />Advanced Characters</label>
            </td>
            <td>
                <label>Jump Distance</label>
                <input type="number" id="jumpDistance" value="3" />
            </td>
            <td>
                <input id="showTradeScreen" type="button" value="Generate Trade Info" onclick="GenerateTradeInfo(readValue('sector'), readValue('world'), readChecked('advancedMode'), readChecked('illegalGoods'), readValue('jumpDistance'), readValue('broker'), readChecked('mongoose2'), readChecked('advancedCharacters'), readValue('streetwise'))" style="display:none" />
                <span id="selectWorldForTrade">Select a world</span>
            </td>
        </tr>
    </table>
</div>

<div class="row">

    <h2>Shopping</h2>
    <table class="gridtable">
        <tr>
            <th>World</th>
            <td>
                <label>Law Level</label>
                @Html.DropDownList("lawLevel", Model.LawLevels())
            </td>
            <td>
                <label>Tech Level</label>
                @Html.DropDownList("techLevel", Model.TechLevels())
            </td>
            <td>
                <label>Starport</label>
                @Html.DropDownList("starport", Model.Starports())
            </td>
            <td>
                <label>Population</label>
                @Html.DropDownList("population", Model.Populations())
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <label> <input type="checkbox" id="shopRoll" /> Auto-Roll</label>
                <br />
                If you don't check this, all items are printed with the roll the player needs.
            </td>
            <td>
                <input id="showTradeScreen" type="button" value="Generate Store Info" onclick="
    GenerateStoreInfo(readValue('lawLevel'), readValue('population'), readChecked('shopRoll'), readValue('starport'), readValue('techLevel'), '', '', readValue('broker'),readValue('streetwise'))" />
            </td>
        </tr>
    </table>

</div>
<div class="row">
    <h2>Animals</h2>
    <table class="gridtable">
        <tr>
            <th>Mongoose 1</th>
            <td>
                <label>Terrain</label>
                @Html.DropDownList("terrain", Model.TerrainList())
            </td>
            <td>
                <label>Animal Type</label>
                @Html.DropDownList("animalType", Model.AnimalTypeList())
                <br />
                (only used when a terrain is selected)
            </td>

            <td>
                <input id="showAnimalScreen" type="button" value="Generate Animals" onclick="GenerateAnimals($('#terrain')[0].value, $('#animalType')[0].value)" />
            </td>
        </tr>
    </table>
    <div>&nbsp;</div>
    <table class="gridtable">
        <tr>
            <th rowspan="3">Animal Encounters (preview)</th>
            <td>
                <label>Terrain</label>
                @Html.DropDownList("terrain2", Model.TerrainList())
            </td>
            <td>
                <label>Animal Class</label>
                @Html.DropDownList("animalClass", Model.AnimalClassList())
                <br />
                (only used when a terrain is selected)
            </td>

            <td>
                <input id="showAnimalEncountersScreen" type="button" value="Generate Animals" onclick="GenerateAnimalEncounters($('#sector')[0].value, $('#world')[0].value, $('#terrain2')[0].value, $('#animalClass')[0].value)" />
            </td>
        </tr>
        <tr style="display:none">
            <!-- Do we want these as individual options or should we always read from the selected world?-->
            <td>
                <label>Gravity</label>
                <select id="gravity">
                    <option value=""></option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
            </td>
            <td>
                <label>Atmosphere</label>
                <select id="Atmosphere">
                    <option value=""></option>
                </select>
            </td>
            <td>
                <label>Temperature</label>
                <select id="Temperature">
                    <option value=""></option>
                </select>
            </td>
            <td>
                <label>Hydrographics</label>
                <select id="Hydrographics">
                    <option value=""></option>
                </select>
            </td>
            <td>
                <label>Specials</label>
                <select id="Specials">
                    <option value=""></option>
                </select>
            </td>
        </tr>
        <tr><td colspan="10">Note: this requires <a target="_blank" href="http://www.drivethrurpg.com/product/93227/Supplement-11-Animal-Encounters">Supplment 11: Animal Encounters</a> to make sense. If you don't have that book, use the Mongoose 1 tool.</td></tr>
    </table>

</div>

<div class="row">
    <h2>Characters</h2>
    <div>This is used for creating NPCs only. Certain liberties where taken with the rules to allow for random character generation.</div>
    <table class="gridtable">
        <tr>
            <th>Career</th>
            <th>Assignment (random age)</th>
            @for (var terms = 1; terms <= 15; terms++)
            {
                <th>@(string.Format("{0} - {1}", 18 + (terms * 4), 18 + (terms * 4) + 3))</th>
            }
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th><a href="@string.Format("/Home/Character")">Any</a></th>
            @for (var terms = 1; terms <= 15; terms++)
            {
                <td><a href="@string.Format("/Home/Character?MinAge={0}&MaxAge={1}", 18 + (terms * 4), 18 + (terms * 4) + 3)">@terms Terms</a></td>
            }
        </tr>
        @{var previousCareer = ""; }
        @foreach (var career in Model.Careers.OrderBy(s => s.Name).ThenBy(s => s.Assignment))
        {
            <tr>
                @if (previousCareer != career.Name)
                {
                    <th rowspan="@(Model.Careers.Count(c => c.Name == career.Name))">@career.Name</th>
                    previousCareer = career.Name;
                }
                <th><a href="@string.Format("/Home/Character?Career={0}", Url.Encode( career.Key ))">@career.Assignment</a></th>
                @for (var terms = 1; terms <= 15; terms++)
                {
                    <td><a href="@string.Format("/Home/Character?Career={0}&MinAge={1}&MaxAge={2}", Url.Encode(career.Key), 18+(terms*4), 18 + (terms * 4) + 3)">@terms Terms</a></td>
                }
            </tr>
        }

    </table>
</div>
<div>Note: Psionics are not yet included.</div>
<div><span style="color:red;font-weight:700;font-size:larger">Warning: </span>Permalinks become invalid whenever a new version of Traveller Tools is created.</div>



@section Scripts {
    @Scripts.Render("~/Scripts/Home/Index.js")
}
