@model Grauenwolf.TravellerTools.Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <h2>Location</h2>
    <table class="gridtable">
        <tr>
            <th>Sector</th>
            <td>
                @Html.DropDownList("sector", Model.SectorList(), new { onchange = "SectorChanged($('#sector')[0].value, $('#subsector')[0])" })
            </td>
            <th>Subsector</th>
            <td>
                <select id="subsector" onchange="SubsectorChanged($('#sector')[0].value, $('#subsector')[0].value, $('#world')[0])"></select>
            </td>
            <th>World</th>
            <td>
                <select id="world" onchange="WorldChanged($('#sector')[0].value, $('#world')[0].value, $('#showTradeScreen')[0], $('#selectWorldForTrade')[0])"></select>
            </td>
        </tr>
    </table>

    <h2>Trade Calculator</h2>

    <table class="gridtable">
        <tr>
            <td>
                <label> <input type="checkbox" id="mongoose2" /> Mongoose 2</label>
            </td>
            <td>
                <label> <input type="checkbox" id="advancedMode" /> Advanced Mode</label>
            </td>
            <td>
                <label> <input type="checkbox" id="illegalGoods" /> Allow Illegal Goods</label>
            </td>
            <td>
                <label>Jump Distance</label>
                <input type="number" id="jumpDistance" value="3" />
            </td>
            <td>
                <label>Broker Score</label>
                <input type="number" id="brokerScore" value="0" />
            </td>
            <td>
                <input id="showTradeScreen" type="button" value="Generate Trade Info" onclick="GenerateTradeInfo($('#sector')[0].value, $('#world')[0].value, $('#advancedMode')[0].checked, $('#illegalGoods')[0].checked, $('#jumpDistance')[0].value, $('#brokerScore')[0].value, $('#mongoose2')[0].checked)" style="display:none" />
                <span id="selectWorldForTrade">Select a world</span>
            </td>
        </tr>
    </table>
</div>

<div class="row">
    <h2>Animals</h2>
    <table class="gridtable">
        <tr>
            <th>Mongoose 1</th>
            <td>
                <label>Terrain</label>
                @Html.DropDownList("terrain", Model.TerrainList())
            </td>
            <td>
                <label>Animal Type</label>
                @Html.DropDownList("animalType", Model.AnimalTypeList())
                <br />
                (only used when a terrain is selected)
            </td>

            <td>
                <input id="showAnimalScreen" type="button" value="Generate Animals" onclick="GenerateAnimals($('#terrain')[0].value, $('#animalType')[0].value)" />
            </td>
        </tr>
    </table>
    <div>&nbsp;</div>
    <table class="gridtable">
        <tr>
            <th rowspan="3">Animal Encounters (preview)</th>
            <td>
                <label>Terrain</label>
                @Html.DropDownList("terrain2", Model.TerrainList())
            </td>
            <td>
                <label>Animal Class</label>
                @Html.DropDownList("animalClass", Model.AnimalClassList())
                <br />
                (only used when a terrain is selected)
            </td>

            <td>
                <input id="showAnimalEncountersScreen" type="button" value="Generate Animals" onclick="GenerateAnimalEncounters($('#sector')[0].value, $('#world')[0].value, $('#terrain2')[0].value, $('#animalClass')[0].value)" />
            </td>
        </tr>
        <tr style="display:none">
            <!-- Do we want these as individual options or should we always read from the selected world?-->
            <td>
                <label>Gravity</label> <select id="gravity">
                    <option value=""></option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
            </td>
            <td>
                <label>Atmosphere</label>
                <select id="Atmosphere">
                    <option value=""></option>
                </select>
            </td>
            <td>
                <label>Temperature</label>
                <select id="Temperature">
                    <option value=""></option>
                </select>
            </td>
            <td>
                <label>Hydrographics</label>
                <select id="Hydrographics">
                    <option value=""></option>
                </select>
            </td>
            <td>
                <label>Specials</label>
                <select id="Specials">
                    <option value=""></option>
                </select>
            </td>
        </tr>
        <tr><td colspan="10">Note: this requires <a target="_blank" href="http://www.drivethrurpg.com/product/93227/Supplement-11-Animal-Encounters">Supplment 11: Animal Encounters</a> to make sense. If you don't have that book, use the Mongoose 1 tool.</td></tr>
    </table>

</div>
<div class="row">
    <h2>Characters</h2>
    <div>This is used for creating NPCs only. Certain liberties where taken with the rules to allow for random character generation.</div>
    <table class="gridtable">
        <tr>
            <th>Career (random age)</th>
            <th colspan="14">Specific Age</th>
        </tr>
        <tr>
            <th><a href="/Home/Character">Any</a></th>
            <td><a href="/Home/Character?MinAge=22&MaxAge=25">1 Term</a></td>
            <td><a href="/Home/Character?MinAge=26&MaxAge=29">2 Terms</a></td>
            <td><a href="/Home/Character?MinAge=30&MaxAge=33">3 Terms</a></td>
            <td><a href="/Home/Character?MinAge=34&MaxAge=37">4 Terms</a></td>
            <td><a href="/Home/Character?MinAge=38&MaxAge=41">5 Terms</a></td>
            <td><a href="/Home/Character?MinAge=42&MaxAge=45">6 Terms</a></td>
            <td><a href="/Home/Character?MinAge=46&MaxAge=49">7 Terms</a></td>
            <td><a href="/Home/Character?MinAge=50&MaxAge=53">8 Terms</a></td>
            <td><a href="/Home/Character?MinAge=54&MaxAge=57">9 Terms</a></td>
            <td><a href="/Home/Character?MinAge=58&MaxAge=61">10 Terms</a></td>
            <td><a href="/Home/Character?MinAge=62&MaxAge=65">11 Terms</a></td>
            <td><a href="/Home/Character?MinAge=66&MaxAge=79">12 Terms</a></td>
            <td><a href="/Home/Character?MinAge=70&MaxAge=73">13 Terms</a></td>
            <td><a href="/Home/Character?MinAge=74&MaxAge=77">14 Terms</a></td>
        </tr>
        <tr>
            <th><a href="/Home/Character?Career=University">University</a></th>
            <td><a href="/Home/Character?Career=University&MinAge=22&MaxAge=25">1 Term</a></td>
            <td><a href="/Home/Character?Career=University&MinAge=26&MaxAge=29">2 Terms</a></td>
            <td><a href="/Home/Character?Career=University&MinAge=30&MaxAge=33">3 Terms</a></td>
            <td><a href="/Home/Character?Career=University&MinAge=34&MaxAge=37">4 Terms</a></td>
            <td><a href="/Home/Character?Career=University&MinAge=38&MaxAge=41">5 Terms</a></td>
            <td><a href="/Home/Character?Career=University&MinAge=42&MaxAge=45">6 Terms</a></td>
            <td><a href="/Home/Character?Career=University&MinAge=46&MaxAge=49">7 Terms</a></td>
            <td><a href="/Home/Character?Career=University&MinAge=50&MaxAge=53">8 Terms</a></td>
            <td><a href="/Home/Character?Career=University&MinAge=54&MaxAge=57">9 Terms</a></td>
            <td><a href="/Home/Character?Career=University&MinAge=58&MaxAge=61">10 Terms</a></td>
            <td><a href="/Home/Character?Career=University&MinAge=62&MaxAge=65">11 Terms</a></td>
            <td><a href="/Home/Character?Career=University&MinAge=66&MaxAge=79">12 Terms</a></td>
            <td><a href="/Home/Character?Career=University&MinAge=70&MaxAge=73">13 Terms</a></td>
            <td><a href="/Home/Character?Career=University&MinAge=74&MaxAge=77">14 Terms</a></td>
        </tr>
        <tr>
            <th><a href="/Home/Character?Career=Barbarian">Barbarian</a></th>
            <td><a href="/Home/Character?Career=Barbarian&MinAge=22&MaxAge=25">1 Term</a></td>
            <td><a href="/Home/Character?Career=Barbarian&MinAge=26&MaxAge=29">2 Terms</a></td>
            <td><a href="/Home/Character?Career=Barbarian&MinAge=30&MaxAge=33">3 Terms</a></td>
            <td><a href="/Home/Character?Career=Barbarian&MinAge=34&MaxAge=37">4 Terms</a></td>
            <td><a href="/Home/Character?Career=Barbarian&MinAge=38&MaxAge=41">5 Terms</a></td>
            <td><a href="/Home/Character?Career=Barbarian&MinAge=42&MaxAge=45">6 Terms</a></td>
            <td><a href="/Home/Character?Career=Barbarian&MinAge=46&MaxAge=49">7 Terms</a></td>
            <td><a href="/Home/Character?Career=Barbarian&MinAge=50&MaxAge=53">8 Terms</a></td>
            <td><a href="/Home/Character?Career=Barbarian&MinAge=54&MaxAge=57">9 Terms</a></td>
            <td><a href="/Home/Character?Career=Barbarian&MinAge=58&MaxAge=61">10 Terms</a></td>
            <td><a href="/Home/Character?Career=Barbarian&MinAge=62&MaxAge=65">11 Terms</a></td>
            <td><a href="/Home/Character?Career=Barbarian&MinAge=66&MaxAge=79">12 Terms</a></td>
            <td><a href="/Home/Character?Career=Barbarian&MinAge=70&MaxAge=73">13 Terms</a></td>
            <td><a href="/Home/Character?Career=Barbarian&MinAge=74&MaxAge=77">14 Terms</a></td>
        </tr>
        <tr>
            <th><a href="/Home/Character?Career=Colonist">Colonist</a></th>
            <td><a href="/Home/Character?Career=Colonist&MinAge=22&MaxAge=25">1 Term</a></td>
            <td><a href="/Home/Character?Career=Colonist&MinAge=26&MaxAge=29">2 Terms</a></td>
            <td><a href="/Home/Character?Career=Colonist&MinAge=30&MaxAge=33">3 Terms</a></td>
            <td><a href="/Home/Character?Career=Colonist&MinAge=34&MaxAge=37">4 Terms</a></td>
            <td><a href="/Home/Character?Career=Colonist&MinAge=38&MaxAge=41">5 Terms</a></td>
            <td><a href="/Home/Character?Career=Colonist&MinAge=42&MaxAge=45">6 Terms</a></td>
            <td><a href="/Home/Character?Career=Colonist&MinAge=46&MaxAge=49">7 Terms</a></td>
            <td><a href="/Home/Character?Career=Colonist&MinAge=50&MaxAge=53">8 Terms</a></td>
            <td><a href="/Home/Character?Career=Colonist&MinAge=54&MaxAge=57">9 Terms</a></td>
            <td><a href="/Home/Character?Career=Colonist&MinAge=58&MaxAge=61">10 Terms</a></td>
            <td><a href="/Home/Character?Career=Colonist&MinAge=62&MaxAge=65">11 Terms</a></td>
            <td><a href="/Home/Character?Career=Colonist&MinAge=66&MaxAge=79">12 Terms</a></td>
            <td><a href="/Home/Character?Career=Colonist&MinAge=70&MaxAge=73">13 Terms</a></td>
            <td><a href="/Home/Character?Career=Colonist&MinAge=74&MaxAge=77">14 Terms</a></td>
        </tr>
        <tr>
            <th><a href="/Home/Character?Career=Corporate">Corporate</a></th>
            <td><a href="/Home/Character?Career=Corporate&MinAge=22&MaxAge=25">1 Term</a></td>
            <td><a href="/Home/Character?Career=Corporate&MinAge=26&MaxAge=29">2 Terms</a></td>
            <td><a href="/Home/Character?Career=Corporate&MinAge=30&MaxAge=33">3 Terms</a></td>
            <td><a href="/Home/Character?Career=Corporate&MinAge=34&MaxAge=37">4 Terms</a></td>
            <td><a href="/Home/Character?Career=Corporate&MinAge=38&MaxAge=41">5 Terms</a></td>
            <td><a href="/Home/Character?Career=Corporate&MinAge=42&MaxAge=45">6 Terms</a></td>
            <td><a href="/Home/Character?Career=Corporate&MinAge=46&MaxAge=49">7 Terms</a></td>
            <td><a href="/Home/Character?Career=Corporate&MinAge=50&MaxAge=53">8 Terms</a></td>
            <td><a href="/Home/Character?Career=Corporate&MinAge=54&MaxAge=57">9 Terms</a></td>
            <td><a href="/Home/Character?Career=Corporate&MinAge=58&MaxAge=61">10 Terms</a></td>
            <td><a href="/Home/Character?Career=Corporate&MinAge=62&MaxAge=65">11 Terms</a></td>
            <td><a href="/Home/Character?Career=Corporate&MinAge=66&MaxAge=79">12 Terms</a></td>
            <td><a href="/Home/Character?Career=Corporate&MinAge=70&MaxAge=73">13 Terms</a></td>
            <td><a href="/Home/Character?Career=Corporate&MinAge=74&MaxAge=77">14 Terms</a></td>
        </tr>
        <tr>
            <th><a href="/Home/Character?Career=Scavenger">Scavenger</a></th>
            <td><a href="/Home/Character?Career=Scavenger&MinAge=22&MaxAge=25">1 Term</a></td>
            <td><a href="/Home/Character?Career=Scavenger&MinAge=26&MaxAge=29">2 Terms</a></td>
            <td><a href="/Home/Character?Career=Scavenger&MinAge=30&MaxAge=33">3 Terms</a></td>
            <td><a href="/Home/Character?Career=Scavenger&MinAge=34&MaxAge=37">4 Terms</a></td>
            <td><a href="/Home/Character?Career=Scavenger&MinAge=38&MaxAge=41">5 Terms</a></td>
            <td><a href="/Home/Character?Career=Scavenger&MinAge=42&MaxAge=45">6 Terms</a></td>
            <td><a href="/Home/Character?Career=Scavenger&MinAge=46&MaxAge=49">7 Terms</a></td>
            <td><a href="/Home/Character?Career=Scavenger&MinAge=50&MaxAge=53">8 Terms</a></td>
            <td><a href="/Home/Character?Career=Scavenger&MinAge=54&MaxAge=57">9 Terms</a></td>
            <td><a href="/Home/Character?Career=Scavenger&MinAge=58&MaxAge=61">10 Terms</a></td>
            <td><a href="/Home/Character?Career=Scavenger&MinAge=62&MaxAge=65">11 Terms</a></td>
            <td><a href="/Home/Character?Career=Scavenger&MinAge=66&MaxAge=79">12 Terms</a></td>
            <td><a href="/Home/Character?Career=Scavenger&MinAge=70&MaxAge=73">13 Terms</a></td>
            <td><a href="/Home/Character?Career=Scavenger&MinAge=74&MaxAge=77">14 Terms</a></td>
        </tr>
        <tr>
            <th><a href="/Home/Character?Career=Wanderer">Wanderer</a></th>
            <td><a href="/Home/Character?Career=Wanderer&MinAge=22&MaxAge=25">1 Term</a></td>
            <td><a href="/Home/Character?Career=Wanderer&MinAge=26&MaxAge=29">2 Terms</a></td>
            <td><a href="/Home/Character?Career=Wanderer&MinAge=30&MaxAge=33">3 Terms</a></td>
            <td><a href="/Home/Character?Career=Wanderer&MinAge=34&MaxAge=37">4 Terms</a></td>
            <td><a href="/Home/Character?Career=Wanderer&MinAge=38&MaxAge=41">5 Terms</a></td>
            <td><a href="/Home/Character?Career=Wanderer&MinAge=42&MaxAge=45">6 Terms</a></td>
            <td><a href="/Home/Character?Career=Wanderer&MinAge=46&MaxAge=49">7 Terms</a></td>
            <td><a href="/Home/Character?Career=Wanderer&MinAge=50&MaxAge=53">8 Terms</a></td>
            <td><a href="/Home/Character?Career=Wanderer&MinAge=54&MaxAge=57">9 Terms</a></td>
            <td><a href="/Home/Character?Career=Wanderer&MinAge=58&MaxAge=61">10 Terms</a></td>
            <td><a href="/Home/Character?Career=Wanderer&MinAge=62&MaxAge=65">11 Terms</a></td>
            <td><a href="/Home/Character?Career=Wanderer&MinAge=66&MaxAge=79">12 Terms</a></td>
            <td><a href="/Home/Character?Career=Wanderer&MinAge=70&MaxAge=73">13 Terms</a></td>
            <td><a href="/Home/Character?Career=Wanderer&MinAge=74&MaxAge=77">14 Terms</a></td>
        </tr>
        <tr>
            <th><a href="/Home/Character?Career=Worker">Worker</a></th>
            <td><a href="/Home/Character?Career=Worker&MinAge=22&MaxAge=25">1 Term</a></td>
            <td><a href="/Home/Character?Career=Worker&MinAge=26&MaxAge=29">2 Terms</a></td>
            <td><a href="/Home/Character?Career=Worker&MinAge=30&MaxAge=33">3 Terms</a></td>
            <td><a href="/Home/Character?Career=Worker&MinAge=34&MaxAge=37">4 Terms</a></td>
            <td><a href="/Home/Character?Career=Worker&MinAge=38&MaxAge=41">5 Terms</a></td>
            <td><a href="/Home/Character?Career=Worker&MinAge=42&MaxAge=45">6 Terms</a></td>
            <td><a href="/Home/Character?Career=Worker&MinAge=46&MaxAge=49">7 Terms</a></td>
            <td><a href="/Home/Character?Career=Worker&MinAge=50&MaxAge=53">8 Terms</a></td>
            <td><a href="/Home/Character?Career=Worker&MinAge=54&MaxAge=57">9 Terms</a></td>
            <td><a href="/Home/Character?Career=Worker&MinAge=58&MaxAge=61">10 Terms</a></td>
            <td><a href="/Home/Character?Career=Worker&MinAge=62&MaxAge=65">11 Terms</a></td>
            <td><a href="/Home/Character?Career=Worker&MinAge=66&MaxAge=79">12 Terms</a></td>
            <td><a href="/Home/Character?Career=Worker&MinAge=70&MaxAge=73">13 Terms</a></td>
            <td><a href="/Home/Character?Career=Worker&MinAge=74&MaxAge=77">14 Terms</a></td>
        </tr>
    </table>
</div>
<div>Warning: Psionics are not yet included.</div>

@section Scripts {
    @Scripts.Render("~/Scripts/Home/Index.js")
}
