@model Grauenwolf.TravellerTools.Equipment.Store
@{
    ViewBag.Title = "Store";
}

<div class="row">
    <h2>Store @(Model.Options.Name != null ? " for " + Model.Options.Name : "")</h2>

    <table class="gridtable">
        <tr><th colspan="4">World Settings</th></tr>
        <tr>
            <td>Law Level</td>
            <td>@Model.Options.LawLevel</td>
            <td>Population</td>
            <td>@Model.Options.Population</td>
        </tr>
        <tr>
            <td>Starport</td>
            <td>@Model.Options.Starport</td>
            <td>Tech Level</td>
            <td>@Model.Options.TechLevel</td>
        </tr>
        <tr>
            <td>Trade Codes</td>
            <td colspan="3">@string.Join(" ", Model.Options.TradeCodes)</td>
        </tr>
        <tr>
            <th colspan="4">Character Settings</th>
        </tr>
        <tr>
            <td>Broker Score</td>
            <td>@Model.Options.BrokerScore</td>
            <td>Streetwise</td>
            <td>@Model.Options.StreetwiseScore</td>
        </tr>
        <tr>
            @if (Model.Options.Roll)
            {
                <td colspan="4">Rolling for each item.</td>
            }
        </tr>
    </table>

    @foreach (var section in Model.Sections.OrderBy(s => s.Name))
    {
        <h3>@(section.Name)</h3>

        <table class="gridtable">
            <tr>
                <th>Name</th>
                <th>TL</th>
                <th>Price</th>
                @if (!Model.Options.Roll)
                {
                    <th>Availability Roll</th>
                }
                <th>Black Market</th>
                <th>Sentencing DM</th>
                <th>Book</th>
            </tr>

            @foreach (var item in section.Items.OrderBy(s => s.Name).ThenBy(s => s.TechLevel))
                {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.TechLevel</td>
                    <td align="right">@item.Price.ToString("N0")</td>
                    @if (!Model.Options.Roll)
                    {
                        <td>@item.Availability</td>
                    }
                    <td>@(item.BlackMarket ? "Yes" : "")</td>
                    <td>@(item.SentencingDM)</td>
                    <td>@(item.Book)</td>
                </tr>
            }

        </table>




    }

</div>