@model Grauenwolf.TravellerTools.TradeCalculator.ManifestCollection
@{
    ViewBag.Title = "Trade Info for " + Model.Origin.Name;
}

@{
    var current = Model.Origin;
    var timeFormat = "h'h 'm'm 's's'";
}
<h2>Origin: @current.Name</h2>
<h3>Planet Info</h3>
<table class="gridtable">

    <tr>
        <th>Planet</th>
        <td><a href=@string.Format("http://wiki.travellerrpg.com/{0}_(world)", current.Name) target="_blank">@current.Name</a></td>
        <th>Subsector</th>
        <td><a href=@string.Format("http://wiki.travellerrpg.com/{0}_Subsector", current.SubsectorName) target="_blank">@current.SubsectorName</a></td>
        <th>Sector</th>
        <td><a href=@string.Format("http://wiki.travellerrpg.com/{0}_Sector", current.Sector) target="_blank">@current.Sector</a></td>
        <th>Coordinates</th>
        <td>
            <a href=@string.Format("http://travellermap.com/?scale=64&sx={0}&sy={1}&hx={2}&hy={3}", current.SectorX, current.SectorY, current.HexX, current.HexY) target="_blank">@current.SectorX,@current.SectorY Hex @current.Hex</a>
        </td>
    </tr>
</table>
<div>&nbsp;</div>
<table class="gridtable">

    <tr><th>Starport</th><td>@current.StarportCode</td><td colspan="5" width="500">@current.StarportDescription</td></tr>
    <tr><th>Berthing Cost</th><td /><td colspan="5">@Model.BerthingCost.ToString("N0")</td></tr>
    <tr><th>Size</th><td>@current.SizeCode</td><td colspan="5">@current.SizeKM.ToString("N0") km</td></tr>
    <tr><th>Atmosphere</th><td>@current.AtmosphereCode</td><td colspan="5">@current.AtmosphereDescription</td></tr>

    <tr><th>Hydrographics</th><td>@current.HydrographicsCode</td><td colspan="5">@current.Hydrographics</td></tr>

    <tr><th>Population</th><td>@current.PopulationCode</td><td colspan="5">@current.Population.ToString("N0")</td></tr>
    <tr><th>Government</th><td>@current.GovernmentCode</td><td colspan="5">@current.GovernmentType</td></tr>
    <tr><th>Law</th><td>@current.LawCode</td><td colspan="5">@current.LawLevel</td></tr>
    <tr><th>Tech</th><td>@current.TechCode</td><td colspan="5">@current.TechLevel</td></tr>
    <tr><th>Remarks</th><td colspan="6">@current.RemarksDescription</td></tr>
</table>
<h3>Travel Info</h3>
<div style="display: inline-block; vertical-align: top">
    <table class="gridtable">
        <tr><th>Thrust</th><th>Transit Time to Jump Point</th><th>Early Jump</th><th>Late Jump</th></tr>
        <tr><th>Min. Distance</th><td>@current.JumpDistanceKM(100).ToString("N0") km</td><td>@current.JumpDistanceKM(90).ToString("N0") km</td><td>@current.JumpDistanceKM(150).ToString("N0") km</td></tr>
        <tr><td>1</td><td>@current.TransitTimeJumpPoint(1).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(1, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(1, 150).ToString(timeFormat)</td></tr>
        <tr><td>2</td><td>@current.TransitTimeJumpPoint(2).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(2, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(2, 150).ToString(timeFormat)</td></tr>
        <tr><td>3</td><td>@current.TransitTimeJumpPoint(3).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(3, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(3, 150).ToString(timeFormat)</td></tr>
        <tr><td>4</td><td>@current.TransitTimeJumpPoint(4).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(4, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(4, 150).ToString(timeFormat)</td></tr>
        <tr><td>5</td><td>@current.TransitTimeJumpPoint(5).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(5, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(5, 150).ToString(timeFormat)</td></tr>
        <tr><td>6</td><td>@current.TransitTimeJumpPoint(6).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(6, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(6, 150).ToString(timeFormat)</td></tr>
    </table>





</div>
<div style="display: inline-block; vertical-align: top">
    <img src=@string.Format("http://travellermap.com/api/jumpmap?sx={0}&sy={1}&hx={2}&hy={3}&jump={4}&scale=48&style=print", @Model.SectorX, @Model.SectorY, @Model.HexX, @Model.HexY, @Model.MaxJumpDistance) />
</div>
<div style="display: inline-block; vertical-align: top">
    <ul id="listofthings">
        @foreach (var manifest in @Model)
        {
            <li><a href="@string.Format("#{0}_{1}_{2}_{3}",  manifest.Destination.SectorX, manifest.Destination.SectorY, manifest.Destination.HexX, manifest.Destination.HexY)">@manifest.Destination.Name</a></li>
        }
    </ul>
</div>

    <h3>Available Trade Goods</h3>
    <p>Purchase DM does not include broker score.<br />Price modifier and current price include purchase DM, broker score, and random roll.</p>
    <table class="gridtable">
        <tr>
            <th>Type</th>
            <th>Subtype</th>
            <th>Tons</th>
            <th>Base Price</th>
            <th>Purchase DM</th>
            <th>Modified Roll</th>
            <th>Price Modifier</th>
            <th>Current Price</th>
        </tr>
        @foreach (var lot in Model.TradeList.Lots)
        {
            <tr>
                <td>@lot.Type</td>
                <td>@lot.Subtype</td>
                <td>@lot.Tons</td>
                <td>@lot.BasePrice.ToString("N0")</td>
                <td>@lot.PurchaseDM</td>
                <td>@lot.Roll.ToString("N0")</td>
                <td>@lot.PriceModifier.ToString("P2")</td>
                <td>@lot.CurrentPrice.ToString("N0")</td>
            </tr>
        }
    </table>


    <h3>Desired Goods</h3>
    <p>Sale DM does not include broker score.<br />Price modifier and current price include sale DM, broker score, and random roll.</p>
    <table class="gridtable">
        <tr>
            <th>Type</th>
            <th>Subtype</th>
            <th>Base Price</th>
            <th>Sale DM</th>
            <th>Modified Roll</th>
            <th>Price Modifier</th>
            <th>Current Price</th>
        </tr>
        @foreach (var lot in Model.TradeList.Bids)
        {
            <tr>
                <td>@lot.Type</td>
                <td>@lot.Subtype</td>
                <td>@lot.BasePrice.ToString("N0")</td>
                <td>@lot.SaleDM</td>
                <td>@lot.Roll.ToString("N0")</td>
                <td>@lot.PriceModifier.ToString("P2")</td>
                <td>@lot.CurrentPrice.ToString("N0")</td>
            </tr>
        }
    </table>

    @foreach (var manifest in @Model)
    {
        current = manifest.Destination;
        <a name="@string.Format("{0}_{1}_{2}_{3}",  current.SectorX, current.SectorY, current.HexX, current.HexY)" />
        <hr />
        <a href=@string.Format("/Home/TradeInfo?sectorX={0}&sectorY={1}&hexX={2}&hexY={3}&maxJumpDistance={4}&brokerScore={5}&advancedMode={6}&illegalGoods={7}&edition={8}",
           current.SectorX, current.SectorY, current.HexX, current.HexY, Model.MaxJumpDistance,
           Model.BrokerScore, Model.AdvancedMode, Model.IllegalGoods, Model.Edition
           )><h2>Destination: @current.Name</h2></a>



        <h3>Planet Info</h3>
        <table class="gridtable">

            <tr>
                <th>Planet</th>
                <td><a href=@string.Format("http://wiki.travellerrpg.com/{0}_(world)", current.Name) target="_blank">@current.Name</a></td>
                <th>Subsector</th>
                <td><a href=@string.Format("http://wiki.travellerrpg.com/{0}_Subsector", current.SubsectorName) target="_blank">@current.SubsectorName</a></td>
                <th>Sector</th>
                <td><a href=@string.Format("http://wiki.travellerrpg.com/{0}_Sector", current.Sector) target="_blank">@current.Sector</a></td>
                <th>Coordinates</th>
                <td>
                    <a href=@string.Format("http://travellermap.com/?scale=64&sx={0}&sy={1}&hx={2}&hy={3}", current.SectorX, current.SectorY, current.HexX, current.HexY) target="_blank">@current.SectorX,@current.SectorY Hex @current.Hex</a>
                </td>
            </tr>
        </table>
        <div>&nbsp;</div>
        <table class="gridtable">

            <tr><th>Starport</th><td>@current.StarportCode</td><td colspan="5" width="500">@current.StarportDescription</td></tr>
            <tr><th>Berthing Cost</th><td /><td colspan="5">@Model.BerthingCost.ToString("N0")</td></tr>
            <tr><th>Size</th><td>@current.SizeCode</td><td colspan="5">@current.SizeKM.ToString("N0") km    </td></tr>
            <tr><th>Atmosphere</th><td>@current.AtmosphereCode</td><td colspan="5">@current.AtmosphereDescription</td></tr>

            <tr><th>Hydrographics</th><td>@current.HydrographicsCode</td><td colspan="5">@current.Hydrographics</td></tr>

            <tr><th>Population</th><td>@current.PopulationCode</td><td colspan="5">@current.Population.ToString("N0")</td></tr>
            <tr><th>Government</th><td>@current.GovernmentCode</td><td colspan="5">@current.GovernmentType</td></tr>
            <tr><th>Law</th><td>@current.LawCode</td><td colspan="5">@current.LawLevel</td></tr>
            <tr><th>Tech</th><td>@current.TechCode</td><td colspan="5">@current.TechLevel</td></tr>
            <tr><th>Remarks</th><td colspan="6">@current.RemarksDescription</td></tr>
        </table>

        <h3>Travel Info</h3>
        <div style="display: inline-block; vertical-align: top">

            <table class="gridtable">
                <tr><th>Thrust</th><th>Transit Time to Jump Point</th><th>Early Jump</th><th>Late Jump</th></tr>
                <tr><th>Min. Distance</th><td>@current.JumpDistanceKM(100).ToString("N0") km</td><td>@current.JumpDistanceKM(90).ToString("N0") km</td><td>@current.JumpDistanceKM(150).ToString("N0") km</td></tr>
                <tr><td>1</td><td>@current.TransitTimeJumpPoint(1).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(1, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(1, 150).ToString(timeFormat)</td></tr>
                <tr><td>2</td><td>@current.TransitTimeJumpPoint(2).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(2, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(2, 150).ToString(timeFormat)</td></tr>
                <tr><td>3</td><td>@current.TransitTimeJumpPoint(3).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(3, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(3, 150).ToString(timeFormat)</td></tr>
                <tr><td>4</td><td>@current.TransitTimeJumpPoint(4).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(4, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(4, 150).ToString(timeFormat)</td></tr>
                <tr><td>5</td><td>@current.TransitTimeJumpPoint(5).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(5, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(5, 150).ToString(timeFormat)</td></tr>
                <tr><td>6</td><td>@current.TransitTimeJumpPoint(6).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(6, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(6, 150).ToString(timeFormat)</td></tr>
            </table>
        </div>
        <div style="display: inline-block; vertical-align: top">
            <img src=@String.Format("http://travellermap.com/api/jumpmap?sx={0}&sy={1}&hx={2}&hy={3}&jump={4}&scale=48&style=print", @current.SectorX, @current.SectorY, @current.HexX, @current.HexY, @Model.MaxJumpDistance) />
        </div>
        <h3>Passengers</h3>

        if (manifest.PassengerList.Passengers.Count > 0)
        {
            <ul id="listofthings">
                @foreach (var passenger in manifest.PassengerList.Passengers)
                {
                    <li>
                        <h4>@passenger.FirstName @passenger.LastName</h4>
                        <div>Age: @passenger.ApparentAge (@passenger.Gender)</div>
                        <div>UPP: @passenger.Upp</div>
                        <div>Passage Desired: @passenger.TravelType</div>
                        @if (@passenger.TravelType == "Low")
                        {
                            <div>Endurance DM: @passenger.EnduranceDM</div>}
                        <div>Notes: @passenger.PassengerType, @passenger.Trait</div>
                    </li>}
            </ul>
        }

        if (manifest.FreightList.Lots.Count > 0)
        {
            <h3>Freight</h3>
            <ul id="listofthings">
                @foreach (var lot in manifest.FreightList.Lots)
                {
                    <li>
                        <h4>@lot.Size Tons for @lot.ShippingFee.ToString("N0"). </h4>
                        <div>Contents: @lot.Contents </div>
                        <div>Value: @lot.ActualValue.ToString("N0") </div>
                    </li>}
            </ul>
        }

        <h3>Trade Preview</h3>

        <table>
            <td valign="top">
                <h4>Readily Available Goods</h4>
                <table class="gridtable">
                    <tr><th>Type</th><th>Purchase DM</th></tr>
                    @foreach (var lot in manifest.Offers)
                {
                        <tr><td>@lot.Type</td><td>@lot.PurchaseDM</td></tr>
                    }
                </table>

            </td>
            <td> </td>
            <td valign="top">
                <h4>Desired Goods</h4>
                <table class="gridtable">
                    <tr><th>Type</th><th>Sale DM</th></tr>
                    @foreach (var lot in manifest.Bids)
                {
                        <tr><td>@lot.Type</td><td>@lot.SaleDM</td></tr>
                    }
                </table>
            </td>
        </table>



    }


