@page "/world/{milieuCode}/{sectorHex}/{planetHex}/destination/{destinationSectorHex}/{destinationPlanetHex}/freight"
@using Microsoft.AspNetCore.WebUtilities

@inherits NullablePageBase<FreightModel>

@if (Model != null)
{

    <h2>@(Model.World.Name + " to " + Model.Destination.Name)</h2>
    <WorldNavigation CurrentPage="freight" World="@Model.World" MilieuCode="@MilieuCode" />
    <div>&nbsp;</div>
    <h3>Destination</h3>
    <WorldNavigation CurrentPage="destination" World="@Model.Destination" MilieuCode="@MilieuCode" />
    <div>&nbsp;</div>

    <div>
        <EditForm Model="@Options">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <table class="gridtable">
                <tr>
                    <th>Traveller Edition</th>
                    <th>Options</th>
                </tr>
                <tr>
                    <td>
                        <InputSelect @bind-Value="Options.SelectedEdition">
                            @foreach (var item in TradeOptions.EditionList)
                            {
                                if (Options.SelectedEditionCode == item.Code)
                                {
                                    <option value="@(item.Code)" selected> @(item.Name)</option>
                                }
                                else
                                {
                                    <option value="@(item.Code)"> @(item.Name)</option>
                                }
                            }
                        </InputSelect>
                    </td>
                    <td>
                        <label title="Shipping fees can vary from 50 to 150%.">
                            <InputCheckbox @bind-Value="Options.VariableFees" />
                            Variable Fees
                        </label>
                    </td>
                </tr>
            </table>
        </EditForm>
    </div>

    <div>&nbsp;</div>

    <h3>
        Freight &amp; Mail Info
        <a @onclick="OnReroll" href="#" title="Reroll"><span class="oi oi-random" /></a>
        <a @onclick="OnPermalink" href="@(Permalink())" title="Permalink. Use this to share with your players."><span class="oi oi-link-intact" /></a>
    </h3>
    <div>
        @if (Options.SelectedEdition == Edition.MGT2022)
        {
            <span>For more information see "Freight" (page 207) and "Mail" (page 239).</span>
        }
        else if (Options.SelectedEdition == Edition.MGT2)
        {
            <span>For more information see "Freight" (page 207) and "Mail" (page 208).</span>
        }
        else
        {
            <span>For more information see "Freight" and "Mail" (page 160).</span>
        }
    </div>

    if (Model.FreightList?.Lots.Count > 0)
    {
        <table class="gridtable">
            <tr>
                <th>Tons</th>
                <th>Shipping Fee</th>
                <th>Delcared Value</th>
                <th>Contents</th>
                <th>Deliver By</th>
                <th>Late Penalties</th>
                <th>Shipping Fee if Late</th>
                <th>Owner</th>
            </tr>

            @foreach (var lot in Model.FreightList.Lots)
            {
  

                <tr>
                    <td>@lot.Size</td>
                    <td>@lot.ShippingFee.ToString("N0")</td>
                    <td>
                        @if (lot.DeclaredValue > 0)
                        {
                            @lot.DeclaredValue.ToString("N0")
                        }
                    </td>
                    <td>@lot.Contents</td>
                    @if (lot.DueInDays > 0)
                    {

                        <td>
                            @lot.DueInWeeks
                        </td>
                        <td>
                            <label title="This fee is applied if the cargo is delivered late.">
                                @lot.LateFee.ToString("N0")
                            </label>
                        </td>
                        <td>
                            <label title="This fee paid after penalties are deducted.">
                                @((lot.ShippingFee - lot.LateFee).ToString("N0"))
                            </label>
                        </td>
                        <td>
                            @if(lot.OwnerIsMegacorp)
                            {
                                @lot.Owner <a href="@(string.Format("https://wiki.travellerrpg.com/{0}", lot.Owner))" target="_blank"><span class="oi oi-globe" aria-hidden="true" /> TAS</a>
                            }
                            else if(lot.OwnerCharacter != null)
                            {
                                <a target="_blank" href="@QueryHelpers.AddQueryString("/character/view", lot.OwnerCharacter.GetCharacterBuilderOptions().ToQueryString())">@lot.Owner</a>
                            }
                            else
                            {
                                @lot.Owner
                            }


                        </td>
                    }
                    else
                    {
                        <td />
                        <td />
                        <td />
                        <td />
                    }

                </tr>

              @if (lot.MailRoll > 0)
                {
                    <tr>
                        <td colspan="7">
                            Mail Contract: Roll 2D6 + SOC DM + Highest Navy/Scout Rank, target @lot.MailRoll. DM+2 if ship is armed.
                        </td>
                    </tr>
                }
            }
        </table>
    }
    else
    {
        <div>No freight is avilable at this time.</div>
    }

}
else if (LoadFailed)
{
    <h1>Error loading page.</h1>
}
else
{
    <h1>Loading</h1>
}
