@page "/world/{milieuCode}/{sectorHex}/{planetHex}/store"
@page "/uwp/{uwp}/store"
@inherits NullablePageBase<WorldModel>

@if (Model != null)
{
    var current = Model.World;
    //var timeFormat = "h'h 'm'm 's's'";

    <h2>@current.Name</h2>
    <WorldNavigation CurrentPage="store" World="@Model.World" MilieuCode="@MilieuCode" />
    <div>&nbsp;</div>

    <div>
        <EditForm Model="@Options">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <table class="gridtable">
                <tr>
                    <th>Store Type</th>
                    <th>Species</th>
                    <th>Options</th>
                </tr>
                <tr>
                    <td>
                        <InputSelect @bind-Value="StoreTypeFilter">
                            <option value="">(all)</option>
                            @foreach (var item in StoreTypeList)
                            {
                                <option value="@(item)" selected="@(StoreTypeFilter == item)"> @(item)</option>
                            }
                        </InputSelect>
                    </td>
                    <td>
                        <InputSelect @bind-Value="SpeciesFilter">
                            <option value="">(all)</option>
                            @foreach (var item in SpeciesList)
                            {
                                <option value="@(item)" selected="@(SpeciesFilter == item)"> @(item)</option>
                            }
                        </InputSelect>
                    </td>
                    <td>
                        <label title="If you don't check this, all items are printed with the roll the player needs.">
                            <InputCheckbox @bind-Value="Options.AutoRoll" />
                            Auto-Roll
                        </label>
                        <br />
                        <label title="If you check this, items are given a discount with a good availability roll.">
                            <InputCheckbox disabled="@(!Options.AutoRoll)" @bind-Value="Options.DiscountPrices" />
                            Discount Pricing
                        </label>
                    </td>
                </tr>
                <tr>
                    <th>Broker Score</th>
                    <th>Streetwise Score</th>
                    <th>Restrictions</th>
                </tr>
                <tr>
                    <td>
                        <InputSelect @bind-Value="Options.BrokerScoreCode">
                            @for (var score = -6; score <= 8; score++)
                            {
                                <option value="@(score)" selected="@(Options.BrokerScore == score)"> @(score)</option>
                            }
                        </InputSelect>
                    </td>
                    <td>
                        <InputSelect @bind-Value="Options.StreetwiseScoreCode">
                            @for (var score = -6; score <= 8; score++)
                            {
                                <option value="@(score)" selected="@(Options.StreetwiseScore == score)"> @(score)</option>
                            }
                        </InputSelect>
                    </td>
                    <td>
                        <label title="Weapons are restricted by Law Level.">
                            <InputCheckbox @bind-Value="Options.WeaponsRestricted" />
                            Weapons
                        </label>
                        &nbsp;
                        <label title="Drugs are restricted by Law Level.">
                            <InputCheckbox @bind-Value="Options.DrugsRestricted" />
                            Drugs
                        </label>
                        &nbsp;
                        <label title="Information is restricted by Law Level.">
                            <InputCheckbox @bind-Value="Options.InformationRestricted" />
                            Information
                        </label>
                        <br />
                        <label title="Technology are restricted by Law Level.">
                            <InputCheckbox @bind-Value="Options.TechnologyRestricted" />
                            Technology
                        </label>
                        &nbsp;
                        <label title="Psionics are restricted by Law Level.">
                            <InputCheckbox @bind-Value="Options.PsionicsRestricted" />
                            Psionics
                        </label>
                    </td>
                </tr>
            </table>
        </EditForm>
    </div>

    @if (Store != null)
    {
        <div>&nbsp;</div>

        @foreach (var section in Store.Sections.OrderBy(s => s.Name))
        {

            if ((string.IsNullOrEmpty(StoreTypeFilter) || StoreTypeFilter == section.Name)
                && (string.IsNullOrEmpty(SpeciesFilter) || section.ContainsSpecies(SpeciesFilter)))
            {

                <h3>
                    @(section.Name)
                    <a @onclick="Reroll" href="#" title="Reroll"><span class="oi oi-random" /></a>
                    <a @onclick="Permalink" href="@(Permalink())" title="Permalink. Use this to share with your players."><span class="oi oi-link-intact" /></a>
                </h3>

                if (section.Items.Count > 0)
                {
                    var showMass = section.Items.Any(i => !string.IsNullOrEmpty(i.Mass));
                    var showSpecies = section.Items.Any(i => !string.IsNullOrEmpty(i.Species));
                    var showLaw = section.Items.Any(i => i.Law > 0);
                    var showBM = section.Items.Any(i => i.BlackMarket || i.SentencingDM.HasValue);
                    var showSkill = section.Items.Any(i => !string.IsNullOrEmpty(i.Skill));
                    var showAmmoPrice = section.Items.Any(i => i.AmmoPrice > 0);

                    <table class="gridtable">
                        <tr>
                            <th>Name</th>
                            @if (showSpecies)
                            {
                                <th>Species</th>
                            }
                            <th>TL</th>
                            @if (showMass)
                            {
                                <th>Mass</th>
                            }
                            <th>Price</th>
                            @if (showAmmoPrice)
                            {
                                <th>Ammo Price</th>
                            }
                            @if (!Options.AutoRoll)
                            {
                                <th>Availability Roll</th>
                            }
                            @if (showLaw)
                            {
                                <th>Law</th>
                            }
                            @if (showBM)
                            {
                                <th>Black Market</th>
                                <th>Sentencing DM</th>
                            }
                            <th>Book (page)</th>
                            @if (showSkill)
                            {
                                <th>Skill</th>
                            }
                        </tr>

                        @foreach (var item in section.Items
                       .Where(s => (string.IsNullOrEmpty(SpeciesFilter) || s.Species == SpeciesFilter))
                       .OrderBy(s => s.Name).ThenBy(s => s.TechLevel))
                        {
                            <tr>
                                <td>@item.Name</td>
                                @if (showSpecies)
                                {
                                    <td>@item.Species</td>
                                }
                                <td>@item.TechLevel</td>
                                @if (showMass)
                                {
                                    <td>@item.Mass</td>
                                }
                                <td style="@( string.IsNullOrEmpty(item.PriceModifier) ? "" : "background-color:palegoldenrod")" align="right" title="@item.PriceModifier">
                                    @item.Price.ToString("N0")
                                </td>
                                @if (showAmmoPrice)
                                {
                                    if (item.AmmoPrice > 0)
                                    {
                                        <td align="right">@item.AmmoPrice.ToString("N0")</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                }
                                @if (!Options.AutoRoll)
                                {
                                    <td>@item.Availability</td>
                                }
                                @if (showLaw)
                                {
                                    <td>@(item.Law>0 ? item.Law : "")</td>
                                }
                                @if (showBM)
                                {
                                    <td>
                                        @(item.BlackMarket ? "Category " + item.Category : "")
                                        <br />
                                        @(item.LegalStatus)
                                    </td>
                                    <td>@(item.SentencingDM)</td>
                                }
                                <td>@(item.BookAndPage)</td>
                                @if (showSkill)
                                {
                                    <td>@(item.Skill)</td>
                                }
                            </tr>

                            if (!string.IsNullOrEmpty(item.Notes))
                            {
                                <tr>
                                    <td colspan="10">@item.Notes</td>
                                </tr>
                            }
                        }
                    </table>
                    <div>&nbsp;</div>
                }

                foreach (var subsection in section.Subsections.OrderBy(s => s.Name))
                {
                    if (subsection.Items.Count > 0 && (string.IsNullOrEmpty(SpeciesFilter) || subsection.ContainsSpecies(SpeciesFilter)))
                    {

                        if (section.Name != subsection.Name)
                        {
                            <h4>@(subsection.Name)</h4>
                        }

                        var showSpecies = subsection.Items.Any(i => !string.IsNullOrEmpty(i.Species));
                        var showMass = subsection.Items.Any(i => !string.IsNullOrEmpty(i.Mass));
                        var showLaw = subsection.Items.Any(i => i.Law > 0);
                        var showBM = subsection.Items.Any(i => i.BlackMarket || i.SentencingDM.HasValue);
                        var showSkill = subsection.Items.Any(i => !string.IsNullOrEmpty(i.Skill));
                        var showAmmoPrice = subsection.Items.Any(i => i.AmmoPrice > 0);

                        <table class="gridtable">
                            <tr>
                                <th>Name</th>
                                @if (showSpecies)
                                {
                                    <th>Species</th>
                                }
                                <th>TL</th>
                                @if (showMass)
                                {
                                    <th>Mass</th>
                                }
                                <th>Price</th>
                                @if (showAmmoPrice)
                                {
                                    <th>Ammo Price</th>
                                }
                                @if (!Options.AutoRoll)
                                {
                                    <th>Availability Roll</th>
                                }
                                @if (showLaw)
                                {
                                    <th>Law</th>
                                }
                                @if (showBM)
                                {
                                    <th>Black Market</th>
                                    <th>Sentencing DM</th>
                                }
                                <th>Book (page)</th>
                                @if (showSkill)
                                {
                                    <th>Skill</th>
                                }
                            </tr>

                            @foreach (var item in subsection.Items
                           .Where(s => (string.IsNullOrEmpty(SpeciesFilter) || s.Species == SpeciesFilter))
                           .OrderBy(s => s.Name).ThenBy(s => s.TechLevel))
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    @if (showSpecies)
                                    {
                                        <td>@item.Species</td>
                                    }
                                    <td>@item.TechLevel</td>
                                    @if (showMass)
                                    {
                                        <td>@item.Mass</td>
                                    }
                                    <td style="@( item.Price == item.BasePrice ? ""  : (item.Price > item.BasePrice ? "background-color:palegoldenrod" : "background-color:lightgreen" ))" align="right" title="@item.PriceModifier">
                                        @item.Price.ToString("N0")
                                    </td>

                                    @if (showAmmoPrice)
                                    {
                                        if (item.AmmoPrice > 0)
                                        {
                                            <td align="right">@item.AmmoPrice.ToString("N0")</td>
                                        }
                                        else
                                        {
                                            <td>-</td>
                                        }
                                    }
                                    @if (!Options.AutoRoll)
                                    {
                                        <td>@item.Availability</td>
                                    }
                                    @if (showLaw)
                                    {
                                        <td>@(item.Law > 0 ? item.Law : "")</td>
                                    }
                                    @if (showBM)
                                    {
                                        <td>
                                            @(item.BlackMarket ? "Category " + item.Category : "")
                                            <br />
                                            @(item.LegalStatus)
                                        </td>
                                        <td>@(item.SentencingDM)</td>
                                    }
                                    <td>@(item.BookAndPage)</td>
                                    @if (showSkill)
                                    {
                                        <td>@(item.Skill)</td>
                                    }
                                </tr>

                                if (!string.IsNullOrEmpty(item.Notes))
                                {
                                    <tr>
                                        <td colspan="10">@item.Notes</td>
                                    </tr>
                                }

                            }
                        </table>
                        <div>&nbsp;</div>
                    }
                }

            }
        }

        <div />

        <h3>Sources</h3>
        <table class="gridtable">
            <tr><th>Code</th><th>Book</th></tr>
            @foreach (var book in Store.Books.OrderBy(s => s.Code))
            {
                <tr>
                    <td>@(book.Code)</td>
                    <td><a href="@(book.Url)" target="_blank">@(book.Name)</a></td>
                </tr>
            }
        </table>

    }

}
else if (LoadFailed)
{
    <h1>Error loading page.</h1>
}
else
{
    <h1>Loading</h1>
}
