@page "/world/{milieuCode}/{sectorHex}/{planetHex}"
@page "/world/{milieuCode}/{sectorHex}/{planetHex}/info"
@page "/uwp/{uwp}"
@page "/uwp/{uwp}/info"

@inherits NullablePageBase<WorldModel>

@if (Model != null)
{
    var current = Model.World;

    <h2>@current.Name</h2>
    <WorldNavigation CurrentPage="info" World="@Model.World" MilieuCode="@MilieuCode" />
    <div>&nbsp;</div>
    <h3>World Info</h3>

    <table class="gridtable">
        <tr><th>UWP</th><td colspan="6">@current.UWP</td></tr>
        <tr><th>Starport</th><td>@current.StarportCode</td><td colspan="5" width="500">@current.StarportDescription</td></tr>

        @if (current.MilitaryBases.Count > 0)
        {
            <tr>
                <th>Bases</th>
                <td colspan="6">
                    @foreach (var item in current.MilitaryBases)
                    {
                        <b> @item.Code: </b> @(item.Description + " ")
                    }

                </td>
            </tr>
        }

        <tr><th>Size</th><td>@current.SizeCode</td><td colspan="5">@current.SizeKM.ToString("N0") km</td></tr>
        <tr><th>Atmosphere</th><td>@current.AtmosphereCode</td><td colspan="5">@current.AtmosphereDescription</td></tr>

        <tr><th>Hydrographics</th><td>@current.HydrographicsCode</td><td colspan="5">@current.Hydrographics</td></tr>

        <tr><th>Population</th><td>@current.PopulationCode</td><td colspan="5">@current.Population.ToString("N0")</td></tr>
        <tr><th>Government</th><td>@current.GovernmentCode</td><td colspan="5">@current.GovernmentType</td></tr>
        <tr><th>Allegiance</th><td>@current.Allegiance</td><td colspan="5">@current.AllegianceName</td></tr>
        <tr><th>Law</th><td>@current.LawCode</td><td colspan="5">@current.LawLevel</td></tr>

        <tr>
            <th title="Based on government and law code.">Prohibitions</th>
            <td colspan="6">
                @foreach (var line in Tables.RestrictionsByGovernmentAndLaw(current.GovernmentCode, current.LawCode))
                {
                    @(line.Item1 + ": " + line.Item2)
                    <br />
                }
            </td>
        </tr>

        <tr><th>Tech</th><td>@current.TechCode</td><td colspan="5">@current.TechLevel</td></tr>
        <tr>
            <th>Remarks</th>
            <td colspan="6">
                @foreach (var item in current.RemarksList.Values)
                {
                    <b> @item.RemarkCode: </b> @(item.Description + " ")
                }

            </td>
        </tr>
        <tr>
            <th>Importance</th>
            <td colspan="6">
                <b>@(current.ImportanceCode ?? "?"):</b> @current.Importance <br />
            </td>
        </tr>

        <tr>
            <th rowspan="4">Economics</th>
            <th >Resources </th>
            <td colspan="4"><b>@current.ResourcesCode:</b> @current.Resources</td>
        </tr>
        <tr>
            <th >Labor</th>
            <td colspan="4"><b>@current.LaborCode:</b> @current.Labor</td>
        </tr>
        <tr>
            <th >Infrastructure</th>
            <td colspan="4"><b>@current.InfrastructureCode:</b> @current.Infrastructure</td>
        </tr>
        <tr>
            <th>Efficiency</th>
            <td colspan="4"><b>@current.EfficiencyCode:</b> @current.Efficiency</td>
        </tr>


        <tr>
            <th rowspan="4">Culture</th>
            <th >Heterogeneity </th>
            <td colspan="4"><b>@current.HeterogeneityCode:</b> @current.Heterogeneity</td>
        </tr>
        <tr>
            <th >Acceptance</th>
            <td colspan="4"><b>@current.AcceptanceCode:</b> @current.Acceptance</td>
        </tr>
        <tr>
            <th >Strangeness</th>
            <td colspan="4"><b>@current.StrangenessCode:</b> @current.Strangeness</td>
        </tr>
        <tr>
            <th>Symbols</th>
            <td colspan="4"><b>@current.SymbolsCode:</b> @current.Symbols</td>
        </tr>


    </table>

    var demograhics = Model.World.RemarksList.GetDemographics();
    @if (demograhics.Count > 0)
    {
        <div>&nbsp;</div>
        <table class="gridtable">
            <tr><th>Sophonts</th><th>Population</th><th>Remarks</th></tr>
            @foreach (var item in demograhics)
            {
                <tr>
                    <td>
                        @item.Name <a href="@string.Format("https://wiki.travellerrpg.com/{0}", @item.Name)" target="_blank" title="Search Traveller Wiki for this sophont.">
                            <span class="oi oi-globe" aria-hidden="true" /> TAS
                        </a>
                    </td>
                    <td>
                        @item.PopulationString
                    </td>
                    <td>
                        @item.HomeworldString
                    </td>
                </tr>
            }

        </table>
    }
    <div>&nbsp;</div>

    if (Model.HighportDetails != null || Model.DownportDetails != null)
    {
        var highport = Model.HighportDetails;
        var downport = Model.DownportDetails;

        <h3>
            Starport Info
            <a @onclick="OnReroll" href="#" title="Reroll"><span class="oi oi-random" /></a>
            <a @onclick="OnPermalink" href="@(Permalink)" title="Permalink. Use this to share with your players."><span class="oi oi-link-intact" /></a>
        </h3>
        <div style="display: inline-block; vertical-align: top">
            <table class="gridtable">
                <tr>
                    <th colspan="2">&nbsp;</th>
                    @if (downport != null)
                    {
                        <th>Downport</th>
                    }
                    @if (highport != null)
                    {
                        <th>Highport</th>
                    }
                </tr>
                <tr>
                    <th rowspan="2">Berthing Cost</th>
                    <th>To Dock</th>
                    @if (downport != null)
                    {
                        <td>@(downport.BerthingCost.ToString("N0"))</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.BerthingCost.ToString("N0"))</td>
                    }
                </tr>
                <tr>
                    <th>Per day</th>
                    @if (downport != null)
                    {
                        <td>@(downport.BerthingCostPerDay.ToString("N0"))</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.BerthingCostPerDay.ToString("N0"))</td>
                    }
                </tr>
                <tr>
                    <th rowspan="3">Berthing Wait Time</th>
                    <th>Small Craft</th>
                    @if (downport != null)
                    {
                        <td>@(downport.BerthingWaitTimeSmall)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.BerthingWaitTimeSmall)</td>
                    }
                </tr>
                <tr>
                    <th>Starcraft</th>
                    @if (downport != null)
                    {
                        <td>@(downport.BerthingWaitTimeStar)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.BerthingWaitTimeStar)</td>
                    }
                </tr>
                <tr>
                    <th>Capital</th>
                    @if (downport != null)
                    {
                        <td>@(downport.BerthingWaitTimeCapital)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.BerthingWaitTimeCapital)</td>
                    }
                </tr>

                <tr>
                    <th colspan="2">Refined Fuel Cost</th>
                    @if (downport != null)
                    {
                        <td>@(downport.RefinedFuelCost)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.RefinedFuelCost)</td>
                    }
                </tr>
                <tr>
                    <th colspan="2">Unrefined Fuel Cost</th>
                    @if (downport != null)
                    {
                        <td>@(downport.UnrefinedFuelCost)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.UnrefinedFuelCost)</td>
                    }
                </tr>
                <tr>
                    <th rowspan="3">Fuel Wait Time</th>
                    <th>Small Craft</th>
                    @if (downport != null)
                    {
                        <td>@(downport.FuelWaitTimeSmall)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.FuelWaitTimeSmall)</td>
                    }
                </tr>
                <tr>
                    <th>Starcraft</th>
                    @if (downport != null)
                    {
                        <td>@(downport.FuelWaitTimeStar)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.FuelWaitTimeStar)</td>
                    }
                </tr>
                <tr>
                    <th>Capital</th>
                    @if (downport != null)
                    {
                        <td>@(downport.FuelWaitTimeCapital)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.FuelWaitTimeCapital)</td>
                    }
                </tr>
            </table>
        </div>
    }
}
else if (LoadFailed)
{
    <h1>Error loading page.</h1>
}
else
{
    <h1>Loading</h1>
}
