@page "/world/{milieuCode}/{sectorHex}/{planetHex}"
@page "/world/{milieuCode}/{sectorHex}/{planetHex}/info"
@page "/uwp/{uwp}"
@page "/uwp/{uwp}/info"

@inherits NullablePageBase<WorldModel>

@if (Model != null)
{
    var current = Model.World;

    <h2>@current.Name</h2>
    <WorldNavigation CurrentPage="info" World="@Model.World" MilieuCode="@MilieuCode" />
    <div>&nbsp;</div>
    <h3>World Info</h3>

    <table class="gridtable">
        <tr><th>UWP</th><td>@current.UWP</td></tr>
        <tr><th>Starport</th><td>@current.StarportCode</td><td colspan="5" width="500">@current.StarportDescription</td></tr>
        <tr><th>Size</th><td>@current.SizeCode</td><td colspan="5">@current.SizeKM.ToString("N0") km</td></tr>
        <tr><th>Atmosphere</th><td>@current.AtmosphereCode</td><td colspan="5">@current.AtmosphereDescription</td></tr>

        <tr><th>Hydrographics</th><td>@current.HydrographicsCode</td><td colspan="5">@current.Hydrographics</td></tr>

        <tr><th>Population</th><td>@current.PopulationCode</td><td colspan="5">@current.Population.ToString("N0")</td></tr>
        <tr><th>Government</th><td>@current.GovernmentCode</td><td colspan="5">@current.GovernmentType</td></tr>
        <tr><th>Law</th><td>@current.LawCode</td><td colspan="5">@current.LawLevel</td></tr>
        <tr><th>Tech</th><td>@current.TechCode</td><td colspan="5">@current.TechLevel</td></tr>
        <tr><th>Remarks</th><td colspan="6">@current.RemarksDescription</td></tr>
    </table>
    <div>&nbsp;</div>

    if (Model.HighportDetails != null || Model.DownportDetails != null)
    {
        var highport = Model.HighportDetails;
        var downport = Model.DownportDetails;

        <h3>
            Starport Info
            <a @onclick="OnReroll" href="#" title="Reroll"><span class="oi oi-random" /></a>
            <a @onclick="OnPermalink" href="@(Permalink)" title="Permalink. Use this to share with your players."><span class="oi oi-link-intact" /></a>
        </h3>
        <div style="display: inline-block; vertical-align: top">
            <table class="gridtable">
                <tr>
                    <th colspan="2">&nbsp;</th>
                    @if (downport != null)
                    {
                        <th>Downport</th>
                    }
                    @if (highport != null)
                    {
                        <th>Highport</th>
                    }
                </tr>
                <tr>
                    <th rowspan="2">Berthing Cost</th>
                    <th>To Dock</th>
                    @if (downport != null)
                    {
                        <td>@(downport.BerthingCost.ToString("N0"))</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.BerthingCost.ToString("N0"))</td>
                    }
                </tr>
                <tr>
                    <th>Per day</th>
                    @if (downport != null)
                    {
                        <td>@(downport.BerthingCostPerDay.ToString("N0"))</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.BerthingCostPerDay.ToString("N0"))</td>
                    }
                </tr>
                <tr>
                    <th rowspan="3">Berthing Wait Time</th>
                    <th>Small Craft</th>
                    @if (downport != null)
                    {
                        <td>@(downport.BerthingWaitTimeSmall)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.BerthingWaitTimeSmall)</td>
                    }
                </tr>
                <tr>
                    <th>Starcraft</th>
                    @if (downport != null)
                    {
                        <td>@(downport.BerthingWaitTimeStar)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.BerthingWaitTimeStar)</td>
                    }
                </tr>
                <tr>
                    <th>Capital</th>
                    @if (downport != null)
                    {
                        <td>@(downport.BerthingWaitTimeCapital)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.BerthingWaitTimeCapital)</td>
                    }
                </tr>

                <tr>
                    <th colspan="2">Refined Fuel Cost</th>
                    @if (downport != null)
                    {
                        <td>@(downport.RefinedFuelCost)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.RefinedFuelCost)</td>
                    }
                </tr>
                <tr>
                    <th colspan="2">Unrefined Fuel Cost</th>
                    @if (downport != null)
                    {
                        <td>@(downport.UnrefinedFuelCost)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.UnrefinedFuelCost)</td>
                    }
                </tr>
                <tr>
                    <th rowspan="3">Fuel Wait Time</th>
                    <th>Small Craft</th>
                    @if (downport != null)
                    {
                        <td>@(downport.FuelWaitTimeSmall)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.FuelWaitTimeSmall)</td>
                    }
                </tr>
                <tr>
                    <th>Starcraft</th>
                    @if (downport != null)
                    {
                        <td>@(downport.FuelWaitTimeStar)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.FuelWaitTimeStar)</td>
                    }
                </tr>
                <tr>
                    <th>Capital</th>
                    @if (downport != null)
                    {
                        <td>@(downport.FuelWaitTimeCapital)</td>
                    }
                    @if (highport != null)
                    {
                        <td>@(highport.FuelWaitTimeCapital)</td>
                    }
                </tr>
            </table>
        </div>
    }
}
else if (LoadFailed)
{
    <h1>Error loading page.</h1>
}
else
{
    <h1>Loading</h1>
}
