@page "/world/{milieuCode}/{sectorHex}/{planetHex}/travel"
@inherits NullablePageBase<WorldModel>

@if (Model != null)
{
    var current = Model.World;
    var timeFormat = "h'h 'm'm 's's'";

    <h2>@current.Name</h2>
    <WorldNavigation CurrentPage="travel" World="@Model.World" MilieuCode="@MilieuCode" />
    <div>&nbsp;</div>

    <h3>In-system Travel Info</h3>
    <div style="display: inline-block; vertical-align: top">
        <table class="gridtable">
            <tr><th>Thrust</th><th>Transit Time to Jump Point</th><th>Early Jump</th><th>Late Jump</th></tr>
            <tr><th>Min. Distance</th><td>@current.JumpDistanceKM(100).ToString("N0") km</td><td>@current.JumpDistanceKM(90).ToString("N0") km</td><td>@current.JumpDistanceKM(150).ToString("N0") km</td></tr>
            <tr><td>1</td><td>@current.TransitTimeJumpPoint(1).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(1, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(1, 150).ToString(timeFormat)</td></tr>
            <tr><td>2</td><td>@current.TransitTimeJumpPoint(2).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(2, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(2, 150).ToString(timeFormat)</td></tr>
            <tr><td>3</td><td>@current.TransitTimeJumpPoint(3).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(3, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(3, 150).ToString(timeFormat)</td></tr>
            <tr><td>4</td><td>@current.TransitTimeJumpPoint(4).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(4, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(4, 150).ToString(timeFormat)</td></tr>
            <tr><td>5</td><td>@current.TransitTimeJumpPoint(5).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(5, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(5, 150).ToString(timeFormat)</td></tr>
            <tr><td>6</td><td>@current.TransitTimeJumpPoint(6).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(6, 90).ToString(timeFormat)</td><td>@current.TransitTimeJumpPoint(6, 150).ToString(timeFormat)</td></tr>
        </table>
    </div>
    <div>&nbsp;</div>

    @if (Model.Destinations != null)
    {

        var destinations = Model.Destinations.Where(d => d.JumpDistance != 0)
            .OrderBy(d => d.JumpDistance)
            .ThenBy(d => d.Name)
            .ToList();

        <h3>Jump Travel Info</h3>
        <div style="display: inline-block; vertical-align: top">
            <table class="gridtable">
                <tr>
                    <th width="30">Jump</th>
                    <th>Planet</th>
                    <th>Subsector</th>
                    <th>Sector</th>
                    <th>Coordinates</th>
                </tr>
                @{
                    var previousDistance = 0;
                    foreach (var item in destinations)
                    {
                        <tr>
                            @if (previousDistance != item.JumpDistance)
                            {
                                previousDistance = item.JumpDistance;
                                var subCount = destinations.Where(d => d.JumpDistance == item.JumpDistance).Count();
                                <td rowspan="@(subCount*2)" width="30" align="center">@(item.JumpDistance)</td>
                            }
                            <td rowspan="2"><a href="@string.Format("https://wiki.travellerrpg.com/{0}_(world)", item.Name)" target="_blank" title="Search Traveller Wiki for this planet.">@item.Name</a></td>
                            <td><a href="@string.Format("https://wiki.travellerrpg.com/{0}_Subsector", item.SubsectorName)" target="_blank" title="Search Traveller Wiki for this subsector.">@item.SubsectorName</a></td>
                            <td><a href="@string.Format("https://wiki.travellerrpg.com/{0}_Sector", item.Sector)" target="_blank" title="Search Traveller Wiki for this sector.">@item.Sector</a></td>
                            <td><a href="@string.Format("http://travellermap.com/?scale=64&sx={0}&sy={1}&hx={2}&hy={3}", item.SectorX, item.SectorY, item.HexX, item.HexY)" target="_blank" title="Show planet in Traveller Map.">@item.SectorX,@item.SectorY Hex @item.Hex</a></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <a href="@($"/world/{MilieuCode}/{item.SectorX},{item.SectorY}/{item.Hex}/info")">
                                    <span class="oi oi-globe" aria-hidden="true" /> Info
                                </a>
                                <a href="@($"/world/{MilieuCode}/{SectorHex}/{PlanetHex}/destination/{item.SectorX},{item.SectorY}/{item.Hex}/passengers")">
                                    <span class="oi oi-briefcase" aria-hidden="true" /> Passengers
                                </a>
                                <a href="@($"/world/{MilieuCode}/{SectorHex}/{PlanetHex}/destination/{item.SectorX},{item.SectorY}/{item.Hex}/freight")">
                                    <span class="oi oi-envelope-closed" aria-hidden="true" /> Freight &amp; Mail
                                </a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>

    }

}
else if (LoadFailed)
{
    <h1>Error loading page.</h1>
}
else
{
    <h1>Loading</h1>
}
